*{
    padding:0;
    margin: 0;
}
.nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.nav__li{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    height: 30px;
}
.nav__li input{
    width: 800px;
    height: 33px;
    border-radius: 16px;
    margin-left: 20px;
}
.nav__li a{
    text-decoration: none;
    margin-left: 20px;
}
.nav__li i{
    margin-left: 20px;
}
.col{
    padding: 10px;
    background-color: black;
    border-radius: 22px;
}
.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center; */
    /* grid-template-rows: masonry; */
    margin: 0 auto;
  }
  .grid-item {
    width: 230px;
    /* height: 200px;
    object-fit: cover; */
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: lightgray;
  }
  .grid-item:hover {
    filter: opacity(0.9);
  }